<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>spartyId</key>
		<string>0</string>
		<key>guestId</key>
		<string>girl1</string>
		<key>rsvp</key>
		<integer>1</integer>
		<key>isCheckedIn</key>
		<true/>
	</dict>
	<dict>
		<key>spartyId</key>
		<string>0</string>
		<key>guestId</key>
		<string>man1</string>
		<key>rsvp</key>
		<integer>2</integer>
		<key>isCheckedIn</key>
		<false/>
	</dict>
	<dict>
		<key>spartyId</key>
		<string>1</string>
		<key>guestId</key>
		<string>man1</string>
		<key>rsvp</key>
		<integer>1</integer>
		<key>isCheckedIn</key>
		<false/>
	</dict>
	<dict>
		<key>spartyId</key>
		<string>1</string>
		<key>guestId</key>
		<string>girl1</string>
		<key>rsvp</key>
		<integer>3</integer>
		<key>isCheckedIn</key>
		<false/>
	</dict>
	<dict>
		<key>spartyId</key>
		<string>1</string>
		<key>guestId</key>
		<string>girl2</string>
		<key>rsvp</key>
		<integer>2</integer>
		<key>isCheckedIn</key>
		<false/>
	</dict>
	<dict>
		<key>spartyId</key>
		<string>1</string>
		<key>guestId</key>
		<string>MandyFrost</string>
		<key>rsvp</key>
		<integer>2</integer>
		<key>isCheckedIn</key>
		<false/>
	</dict>
	<dict>
		<key>spartyId</key>
		<string>1</string>
		<key>guestId</key>
		<string>man0</string>
		<key>rsvp</key>
		<integer>1</integer>
		<key>isCheckedIn</key>
		<false/>
	</dict>
</array>
</plist>
